#x{
    font-size:36px;
    color: #e15a53;
}
#check{
    background-color: #e15a53;
    color: white;
    margin-left: 2%;
}
#apply{
    background-color: #e15a53;
    color: white;
}
#btn_update {
    background-color: #e15a53;
    color: white;
    
}
#carttotal{
    margin-top: 5%;
}