/* Contact us Page CSS */

#contact_container {
    box-shadow: 0 0 10px 5px rgba(125, 124, 121, 0.3)!important;
    margin-top: 5%!important;
}

#contact_img {
    width: 100%!important;
    height: auto!important;
}

#contact_form_container {
    background-color: #f5f6f7!important;
    padding: 2% !important;
}


/* #3a3535 */
#contact_info {
    background-color: #e15a53!important;
    color: white !important;
    padding: 2% !important;
}

.contact_li {
    margin-bottom: 5% !important;
}

.contact_icon {
    font-size: 24px !important;
    color: white !important;
    margin-right: 4% !important;
}



/* Info Page CSS */
.user_container {
    box-shadow: 0 0 10px 5px rgba(125, 124, 121, 0.3) !important;
    margin-top: 5% !important;
}

.sidebar_div {
    background-color: #e15a53 !important;
    padding: 10% !important;
    padding-left: 8% !important;
}

.user_icons {
    font-size: 24px !important;
    color: white!important;
   
}

.user_acc_links {
    color: white !important;
    text-decoration: none !important;
}

#user_info_form {
    background-color: #f5f6f7 !important;
    padding: 2% !important;
    padding-top: 7% !important;
    padding-bottom: 5.15% !important;
}

#user_orders_table {
    background-color: #f5f6f7 !important;
    padding: 2% !important;
    padding-top: 8% !important;
    padding-bottom: 8% !important;
}

.orders_table_head{
    background-color: #e15a53 !important; color: white !important;
}